body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
header{
    padding-bottom: 20px;
}

/*Blog Posts*/

.blog-post {
    margin-bottom: 60px;
     text-shadow: 2px 3px #ff0000;
     
}

.blog-post-title {
    margin-bottom: 5px;
    font-size: 60px;
}

.blog-post-meta {
    margin-bottom: 60px;
    color: #999;
    font-style: italic; 
}

body {
   
    
}

.button {
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}